<p>
  track works!
</p>

totalWorkoutToday{{totalWorkoutToday}}
totalWorkoutThisWeek{{totalWorkoutThisWeek}}
totalWorkoutThisMonth{{totalWorkoutThisMonth}}
<!-- <fusioncharts
     [id]="id"
     [width]="width"
     [height]="height"
     [type]="type"
     [dataFormat]="dataFormat"
     [dataSource]="dataSource" 
></fusioncharts> -->

<fusioncharts
     [id]="id"
     [width]="width"
     [height]="height"
     [type]="type"
     [dataFormat]="dataFormat"
     [dataSource]="dayGraphDataSource" 
></fusioncharts>

<fusioncharts
     [id]="id2"
     [width]="width"
     [height]="height"
     [type]="type"
     [dataFormat]="dataFormat"
     [dataSource]="weekGraphDataSource" 
></fusioncharts>


<fusioncharts
     [id]="id3"
     [width]="width"
     [height]="height"
     [type]="type"
     [dataFormat]="dataFormat"
     [dataSource]="monthGraphDataSource" 
></fusioncharts>
